<header>
    <h1>Angular App</h1>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Kanban App</mat-card-title>
          <mat-card-subtitle>Keep Track</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260g" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            An example application for keeping track of your work and day to day items.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>



</header>
