  
header {
    text-align: center;
}

mat-card {
    display: inline-block;
}

.example-card {
    max-width: 400px;
    
  }
  
  .example-header-image {
    background-image: url('https://images.pexels.com/photos/68562/pexels-photo-68562.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
  }